__pycache__/
*.py[cod]
*.pyd
*.so

.Python
.python-version

.venv/
venv/
env/
ENV/

build/
dist/
pip-wheel-metadata/
*.egg-info/

.coverage
.coverage.*
.pytest_cache/
.mypy_cache/
.ruff_cache/

.idea/
.vscode/

platform/
